openapi: 3.0.3

info:
  title: API de Notas
  description: API para gerenciamento de notas de alunos
  version: v1

servers:
  - url: https://api.notas.com/v1
    description: Servidor de produção

tags:
  - name: notas
    description: Operações relacionadas às notas

paths:
  /notas:
    get:
      summary: Listar notas
      operationId: listarNotas
      tags:
        - notas
      parameters:
        - name: cursor
          in: query
          required: false
          description: Token da página anterior
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Itens por página
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Lista de notas retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - has_more
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Nota"
                  next_cursor:
                    type: string
                    nullable: true
                    description: Token para próxima página
                  has_more:
                    type: boolean
                    description: Indica se há mais páginas
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Criar nota
      operationId: criarNota
      tags:
        - notas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotaCreate"
      responses:
        "201":
          description: Nota criada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Nota"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /notas/{id}:
    get:
      summary: Exibir nota única
      operationId: exibirNota
      tags:
        - notas
      parameters:
        - name: id
          in: path
          required: true
          description: ID da nota
          schema:
            type: integer
      responses:
        "200":
          description: Nota encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Nota"
        "404":
          description: Nota não encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Atualizar nota
      operationId: atualizarNota
      tags:
        - notas
      parameters:
        - name: id
          in: path
          required: true
          description: ID da nota
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotaUpdate"
      responses:
        "200":
          description: Nota atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Nota"
        "400":
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Nota não encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Deletar nota
      operationId: deletarNota
      tags:
        - notas
      parameters:
        - name: id
          in: path
          required: true
          description: ID da nota
          schema:
            type: integer
      responses:
        "204":
          description: Nota removida com sucesso
        "404":
          description: Nota não encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Nota:
      type: object
      required:
        - id
        - nome_aluno
        - valor_nota
        - criado_em
        - atualizado_em
        - ativo
      properties:
        id:
          type: integer
        nome_aluno:
          type: string
        valor_nota:
          type: number
        criado_em:
          type: string
          format: date-time
        atualizado_em:
          type: string
          format: date-time
        ativo:
          type: boolean

    NotaCreate:
      type: object
      required:
        - nome_aluno
        - valor_nota
      properties:
        nome_aluno:
          type: string
        valor_nota:
          type: number

    NotaUpdate:
      type: object
      properties:
        nome_aluno:
          type: string
        valor_nota:
          type: number
        ativo:
          type: boolean

    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string